<!-- listitem -->
<div class="rcontainer">
	<div class="rdate">{{ date }}</div>
	<div class="rcaption {{ class }}" title='{{ comment }}'>{{ caption }}</div>
	<div class="ractions">
		<a class="cmd" href='edit?id={{ id }}&parent={{ parent }}&page={{ page }}'>Правка</a>
		<a class="cmd" href='list?parent={{ id }}&page=1'>Подзадачи</a>
		<a class="cmd" href='delete?id={{ id }}&parent={{ parent }}&page={{ page }}' onclick="return confirm('Вы уверены?')">Удалить</a>
	</div>
</div>
<hr>
<!-- end listitem -->
